---
import { render } from "astro:content";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blogPosts");

  return [...blogPosts].map((blogpost) => ({
    params: { slug: blogpost.id },
    props: { blogpost },
  }));
}

const { blogpost } = Astro.props;
const { Content } = await render(blogpost);
---

<BaseLayout>
  <div class="blog-post-content">
    <article class="blog-post">
      <Image
        src={blogpost.data.image}
        loading="eager"
        alt=`${blogpost.data.title}`
        class={`blog-post-image`}
      />

      <div class="blog-post-description">
        <h2 class="blog-post-title">{blogpost.data.title}</h2>
        <div class="blog-post-text"><Content /></div>
      </div>
    </article>
  </div>
</BaseLayout>

<style>
  .blog-post-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #faf6f1;
    color: black;
    padding-block: 50px;
  }

  .blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .blog-post-image {
    width: 800px;
    height: auto;
    object-fit: cover;
  }

  .blog-post-description {
    align-self: center;
    padding-inline: 100px;
    width: 800px;
  }

  .blog-post-text :global(img) {
    width: 100%;
    height: auto;
    max-width: 200px;
    display: block;
    margin: 2rem auto;
  }
</style>
