---
import { getCollection } from "astro:content";
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allBlogposts = await getCollection("blogPosts");
---

<BaseLayout title="Helena Swane - Blogg" description="">
  <section id="blogPostGallery" class="blog-post-gallery">
    <h2 class="blog-post-gallery-title">Blogg</h2>
    <div class="blog-post-grid">
      {
        allBlogposts.map((blogpost) => (
          <BlogPost
            title={blogpost.data.title}
            image={blogpost.data.image}
            url={`/blog/${blogpost.id}`}
            bio={String(blogpost.body)}
          />
        ))
      }
    </div>
  </section>
</BaseLayout>

<style>
  .blog-post-gallery {
    padding-block-start: 70px;
    background-color: #faf6f1;
    width: 100vw;
  }

  .blog-post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 22px;
    color: black;
    margin: 20px 0;
    overflow: hidden;
    padding-inline: 100px;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
      width: 830px;
      padding-inline: 0;
      margin-inline: auto;
    }

    @media (max-width: 950px) {
      grid-template-columns: repeat(1, 1fr);
      width: 350px;
    }
  }

  .blog-post-gallery-title {
    color: black;
    font-size: 33px;
    font-family: "Raleway", sans-serif;
    padding-inline: 100px;

    @media (max-width: 1400px) {
      width: 830px;
      margin-inline: auto;
      text-align: left;
      padding-inline: 0;
    }

    @media (max-width: 950px) {
      width: 100%;
      max-width: 350px;
      text-align: center;
    }
  }
</style>
