---
export const prerender = false;
---

<!-- ---
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { WordPressPost } from "../../interfaces/models";

const { slug } = Astro.params;

let blogPost = await fetch(
  `http://helenaswane-wordpress.local/wp-json/wp/v2/posts?slug=${slug}`,
);
let [post] = await blogPost.json();

export async function getStaticPaths() {
  let allBlogPosts = await fetch(
    "http://helenaswane-wordpress.local/wp-json/wp/v2/posts",
  );
  let posts = await allBlogPosts.json();
  console.log("Vanliga posts", posts);

  return posts.map((post: WordPressPost) => ({
    params: { slug: post.slug },
    props: { post: post },
  }));
}
---

<BaseLayout title=`Blogginlägg: ${post.title.rendered} `>
  <div class="blog-post-content">
    <article class="blog-post">
      <div class="blog-post-description">
        <h2 class="blog-post-title" set:html={post.title.rendered} />
        <Fragment class="blog-post-text" set:html={post.content.rendered} />
      </div>
    </article>
  </div>
</BaseLayout>

<style>
  .blog-post-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #faf6f1;
    padding-block: 50px;
  }

  .blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf6f1;
    width: 100%;
    height: auto;
  }

  .blog-post-title {
    margin: 0;
  }

  .blog-post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .blog-post-description {
    display: flex;
    flex-direction: column;
    align-items: star;
    padding-inline: 100px;
    width: 800px;
  }

  .blog-post-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 2rem auto; */
  }

  .blog-post-text :global(img) {
    height: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 2rem auto; */
  }
</style> -->
