<div class="arch-glowing-border">
  <slot />
</div>

<style>
  @property --glow-deg {
    syntax: "<angle>";
    inherits: true;
    initial-value: -90deg;
  }

  .arch-glowing-border {
    --gradient-glow:
      rgb(255, 223, 186), rgb(255, 210, 160), rgb(255, 195, 140),
      rgb(255, 180, 130), rgb(255, 195, 140), rgb(255, 210, 160),
      rgb(255, 223, 186);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px 200px 0 0;
    position: relative;
    isolation: isolate;

    background:
      linear-gradient(#faf6f1 0 0) padding-box,
      conic-gradient(from var(--glow-deg), var(--gradient-glow)) border-box;

    border: 4px solid transparent;
    transition: all 0.8s ease-in-out;
    animation: glow 10s infinite linear;
  }

  .arch-glowing-border::before,
  .arch-glowing-border::after {
    content: "";
    position: absolute;
    border-radius: 200px 200px 0 0;
  }

  .arch-glowing-border::before {
    background: #faf6f1;
    inset: 0;
    z-index: -1;
    filter: blur(var(--glow-size, 1rem));
  }

  .arch-glowing-border::after {
    background: conic-gradient(from var(--glow-deg), var(--gradient-glow));
    inset: -1.5rem;
    z-index: -2;
    filter: blur(var(--glow-size, 1rem));
    opacity: var(--glow-intensity, 0.5);
  }

  @keyframes glow {
    100% {
      --glow-deg: 270deg;
    }
  }

  .arch-glowing-border > * {
    border-radius: 200px 200px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
  }
</style>
