<section class="gradient-background"></section>

<style>
  :root {
    --gradient: linear-gradient(
      135deg,
      #fde2e4 0%,
      #fad2e1 25%,
      #fbc4ab 50%,
      #ffb3c1 75%,
      #ffcfd2 100%
    );
  }

  .gradient-background {
    width: 100vw;
    height: 100vh;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 25s infinite alternate;
  }

  @keyframes bg-animation {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
</style>
