<section class="scroll-reveal">
  <h2 class="section-title"><span>Hi Ellie Bellie </span></h2>

  <p>
    <span>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta unde quod
      aut tempore reprehenderit, accusamus consectetur sequi, incidunt numquam
      est amet, nemo esse. Explicabo, minus libero. Maxime, exercitationem?
      Omnis quae delectus illo quis quia facilis dolores, recusandae veritatis
      consequatur in.
    </span>
  </p>
</section>

<style>
  section {
    padding-block: 100px;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: auto;
    background: #faf6f1;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: auto;
  }

  .scroll-reveal > * {
    padding-inline: 150px;
  }

  .scroll-reveal span {
    color: hsl(0 0% 100% / 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(
      90deg,
      rgb(201, 127, 190),
      rgb(241, 180, 119)
    );
    animation: scroll-reveal linear forwards;
    animation-timeline: view(y);
  }

  .scroll-reveal h2 span {
    animation-range-start: cover 20vh;
    animation-range-end: cover 40vh;
  }

  .scroll-reveal p span {
    animation-range-start: cover 25vh;
    animation-range-end: cover 50vh;
  }

  @keyframes scroll-reveal {
    to {
      background-size: 100% 100%;
    }
  }

  h2 {
    margin: 0;
    font-size: 4rem;
  }

  h2 > p {
    padding-inline: 100px;
    line-height: 1.5;
  }
</style>
