---
import RoundGlowingBorder from "../animations/RoundGlowingBorder.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Helena">
  <section class="about-helena-section section-inner">
    <div class="about-helena-content-wrapper">
      <h2 class="about-helena-heading">Om Helena</h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
        error. Ad ipsam eligendi suscipit pariatur atque optio odio quisquam
        iste in quia? Nobis soluta tenetur dolor maiores totam illo ratione eos
        eligendi inventore earum adipisci illum sapiente odio molestias
        exercitationem nostrum officia ipsam, laborum sequi. Est, officiis vero?
        Iure neque, eaque numquam eius, facilis alias repellat fuga optio,
        consectetur perspiciatis similique. Magnam esse perferendis ipsum
        corporis numquam in enim ullam quasi culpa, inventore atque illo maiores
        consequatur sit. Tenetur voluptatem exercitationem ullam necessitatibus
        debitis, aspernatur temporibus tempore, beatae dolores maiores nesciunt
        dolorem cum. Libero, itaque quod numquam similique debitis error.
      </p>
    </div>
    <RoundGlowingBorder>
      <img
        class="about-helena-img"
        src="/helenaswaneprofil.png"
        alt="profile image of Helena Swane in a brigth pink jacket and a big smile"
      />
    </RoundGlowingBorder>
  </section>
</BaseLayout>

<style>
  .about-helena-heading {
    font-weight: 400;
    font-size: clamp(2rem, calc(1.2rem + 4.2vw), 3.5rem);
    text-transform: uppercase;
    color: #2b2929;
    margin: 0;
  }
  .about-helena-section {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* .about-helena-content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  } */

  .about-helena-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
  }
</style>
