<form name="contact" method="POST" data-netlify="true">
  <input type="text" name="namn" placeholder="Ditt namn" required />
  <input type="email" name="email" placeholder="Din e-post" required />
  <textarea name="message" placeholder="Ditt meddelande" required></textarea>

  <button type="submit">Skicka</button>
</form>
