---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Till dig">
  <section class="for-you-section">
    <h2 class="for-you-heading">Till dig</h2>
    <img src="/rainbowmountains.jpg" alt="" />
  </section>
</BaseLayout>

<style>
  .for-you-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
</style>
