---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Transformativ Coaching" description="">
  <section class="tc-section">
    <h2>Transformativ Coaching</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, quam?
      Aspernatur optio ducimus tempore delectus tenetur, fugiat a inventore
      nobis nemo enim, dicta porro eaque quos, nisi impedit magnam deleniti!
      Dolore dolor obcaecati ducimus consectetur doloremque cupiditate at
      asperiores voluptas qui quas, animi iure explicabo sapiente autem placeat
      recusandae vel nostrum ea numquam id facilis provident iusto facere
      aliquid. Omnis voluptates architecto eligendi id ex quaerat, dolores modi
      quisquam consequatur eveniet, minima, nemo nulla optio. Non aperiam sit
      praesentium officiis tempore architecto enim nostrum ea similique
      repellendus molestias, tenetur culpa voluptas ex iusto ducimus aspernatur
      amet quibusdam debitis ipsum qui.
    </p>
  </section>
</BaseLayout>

<style>
  .tc-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-inline: 100px;
    padding-block: 50px;
  }

  h2 {
    font-weight: 400;
    font-size: clamp(2rem, calc(1.2rem + 4.2vw), 3.5rem);
    text-transform: uppercase;
    color: #2b2929;
    margin: 0;
  }
</style>
