<header>
  <a class="logo-link" href="/">
    <h3 class="logo-heading glow-pulse">Helena Swane by Heart</h3></a
  >
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button" for="menu-toggle" aria-label="menu button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
      width="24"
      height="24"
    >
      <path
        d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
      ></path></svg
    >
  </label>

  <ul class="nav-list">
    <li>
      <label for="menu-toggle">
        <a href="/bokasession">Boka</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/transformativcoaching">Om Transformativ coachning</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/bokasession">Kontakt</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/omhelena">Om Helena</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/blogg">Blogg</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/medlemsportalen">Medlemsportalen</a>
      </label>
    </li>
    <li>
      <a href="/tilldig" class="freebie-link">
        <button class="freebie-btn" aria-label="freebie button">
          Till dig <span class="heart-icon">
            <svg
              width="110%"
              height="30px"
              viewBox="0 0 6400 8534"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xml:space="preserve"
              style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            >
              <g transform="matrix(4.166667,0,0,4.166667,0,0)">
                <g transform="matrix(1,0,0,-1,762.9063,1877.1512)">
                  <path
                    d="M0,-0.45C-0.055,-0.301 -0.106,-0.153 -0.152,0.003C-0.102,-0.151 -0.048,-0.302 0.002,-0.453C0.001,-0.451 0,-0.45 0,-0.45Z"
                    style="fill-rule:nonzero;"></path>
                </g>
                <g transform="matrix(1,0,0,-1,773.2462,1877.6042)">
                  <path
                    d="M0,0.456C-0.047,0.3 -0.098,0.152 -0.152,0.003C-0.152,0.003 -0.154,0.002 -0.155,0C-0.104,0.151 -0.05,0.302 0,0.456Z"
                    style="fill-rule:nonzero;"></path>
                </g>
                <g transform="matrix(1,0,0,-1,735.6837,507.9075)">
                  <path
                    d="M0,0.102C0.012,0.066 0.027,0.035 0.035,0C0.023,0.031 0.012,0.066 0,0.102Z"
                    style="fill-rule:nonzero;"></path>
                </g>
                <g transform="matrix(1,0,0,-1,800.3165,507.9075)">
                  <path
                    d="M0,0.102C-0.012,0.066 -0.023,0.031 -0.035,0C-0.027,0.035 -0.012,0.066 0,0.102Z"
                    style="fill-rule:nonzero;"></path>
                </g>
                <g transform="matrix(1,0,0,-1,1486.5547,1431.039)">
                  <path
                    d="M0,853.398C1.703,775.957 -24.75,701.203 -56.469,631.59C-154.477,428.801 -301.121,255.781 -434.769,76.254C-532.324,-66.945 -629.109,-216.637 -681.766,-382.867C-682.637,-384.531 -683.512,-386.191 -684.414,-387.84C-685.828,-390.426 -686.953,-393.148 -688.254,-395.781C-688.414,-396.094 -688.57,-396.406 -688.727,-396.723C-689.379,-397.91 -690.012,-399.105 -690.621,-400.316C-690.637,-400.344 -690.648,-400.367 -690.66,-400.395C-690.68,-400.434 -690.699,-400.469 -690.719,-400.508L-690.719,-400.512C-690.723,-400.523 -690.731,-400.531 -690.734,-400.543C-691.637,-402.352 -692.43,-404.172 -693.152,-406.07C-693.914,-408.09 -694.586,-410.133 -695.289,-412.172C-695.969,-414.035 -696.836,-415.824 -697.711,-417.602C-698.707,-419.547 -699.758,-421.437 -700.953,-423.27C-702.184,-425.051 -703.394,-426.844 -704.68,-428.586C-706.008,-430.391 -707.305,-432.227 -708.379,-434.195C-708.902,-435.156 -709.379,-436.141 -709.848,-437.129C-710.324,-438.125 -710.836,-439.094 -711.223,-440.129C-712.019,-442.262 -712.75,-444.422 -713.473,-446.578C-714.555,-447.926 -714.738,-449.73 -714.184,-451.285C-714.445,-451.289 -714.707,-451.297 -714.965,-451.309C-715.867,-451.355 -716.719,-451.566 -717.477,-451.996C-717.57,-452 -717.664,-452.004 -717.758,-452.008C-718.027,-452.023 -718.293,-452.051 -718.555,-452.098C-718.816,-452.051 -719.082,-452.023 -719.352,-452.008C-719.445,-452.004 -719.539,-452 -719.633,-451.996C-720.391,-451.566 -721.242,-451.355 -722.144,-451.309C-722.402,-451.297 -722.664,-451.289 -722.926,-451.285C-722.371,-449.73 -722.555,-447.926 -723.637,-446.578C-724.359,-444.422 -725.09,-442.262 -725.887,-440.129C-726.273,-439.094 -726.785,-438.125 -727.262,-437.129C-727.731,-436.141 -728.207,-435.156 -728.731,-434.195C-729.805,-432.227 -731.102,-430.391 -732.43,-428.586C-733.715,-426.844 -734.926,-425.051 -736.156,-423.27C-737.352,-421.437 -738.402,-419.547 -739.398,-417.602C-740.273,-415.824 -741.141,-414.035 -741.82,-412.172C-742.523,-410.133 -743.195,-408.09 -743.957,-406.07C-744.629,-404.297 -745.371,-402.59 -746.199,-400.895C-746.211,-400.871 -746.223,-400.848 -746.234,-400.824C-746.918,-399.437 -747.641,-398.078 -748.383,-396.723C-748.539,-396.406 -748.695,-396.094 -748.855,-395.781C-750.156,-393.148 -751.281,-390.426 -752.695,-387.84C-753.598,-386.191 -754.473,-384.531 -755.344,-382.871C-807.988,-216.676 -904.801,-66.902 -1002.344,76.25C-1135.984,255.777 -1282.637,428.805 -1380.641,631.59C-1412.359,701.199 -1438.812,775.961 -1437.109,853.398C-1433.699,977.301 -1403.703,1108.441 -1316.859,1201.262C-1272.473,1245.941 -1214.082,1275.949 -1153.27,1291.125C-1089.148,1305.492 -1021.516,1297.02 -960.129,1274.918C-846.25,1230.566 -767.5,1125.504 -718.555,1017.156C-669.637,1125.504 -590.848,1230.574 -476.98,1274.914C-415.594,1297.02 -347.961,1305.496 -283.84,1291.125C-223.027,1275.957 -164.637,1245.93 -120.25,1201.262C-33.402,1108.426 -3.418,977.313 0,853.398Z"
                    style="fill:white;fill-rule:nonzero;"></path>
                </g>
              </g>
            </svg>
          </span>
        </button>
      </a>
    </li>
  </ul>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 90px;
    font-size: 15px;
    background-color: #faf6f1;
    z-index: 11;
  }

  .nav-list {
    display: flex;
    align-items: center;
    margin-inline: 33px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .logo-link {
    cursor: pointer;
  }

  .logo {
    width: 200px;
    height: auto;
    padding-left: 50px;
  }

  .logo-heading {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    padding-inline: 33px;
    color: #ff3b9c;
  }

  .menu-button {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

  @media (max-width: 1140px) {
    .menu-button {
      display: block;
      cursor: pointer;
      padding-inline: 30px;
    }

    .nav-list {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      background: #faf6f1;
      flex-direction: column;
      padding: 20px 0;
      margin-inline: 0 !important;
    }

    #menu-toggle:checked ~ .nav-list {
      display: flex;
    }

    .nav-list li {
      margin: 10px 0;
      text-align: center;
    }
  }

  li {
    list-style: none;
    margin-right: 20px;
  }

  a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: rgb(90, 86, 86);
    text-transform: uppercase;
  }

  .freebie-btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 138px;
    /* padding: 5px; */
    border-radius: 9999px;
    margin-left: auto;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(
      135deg,
      #ff3b9c,
      #d82094,
      #f492b8,
      #ff3b9c,
      #d82094,
      #f492b8,
      #ff3b9c
    );

    background-size: 500% 500%;
    animation: gradient-wave 50s ease-in-out infinite;
    transition:
      transform 0.9s ease,
      box-shadow 0.9s ease;
  }

  .freebie-link {
    text-decoration: none;
  }

  .heart-icon {
    font-size: 35px;
    margin-top: 5px;
    /* margin-bottom: 5px; */
    fill: white;
  }

  .heart-icon svg path {
    fill: white !important;
    stroke: none;
  }

  .heart-icon svg path:last-of-type {
    fill: white;
  }

  @keyframes gradient-wave {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
