<header>
  <a class="logo-link" href="/">
    <h3 class="logo-heading glow-pulse">Helena Swane by Heart</h3></a
  >
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button" for="menu-toggle" aria-label="menu button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
      width="24"
      height="24"
    >
      <path
        d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
      ></path></svg
    >
  </label>

  <ul class="nav-list">
    <li>
      <label for="menu-toggle">
        <a href="/bokasession">Boka</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/transformativcoaching">Om Transformativ coachning</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/bokasession">Kontakt</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/omhelena">Om Helena</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/blogg">Blogg</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/medlemsportalen">Medlemsportalen</a>
      </label>
    </li>
    <li>
      <a href="/tilldig" class="freebie-link">
        <button class="freebie-btn" aria-label="freebie button">
          Till dig <span class="heart-icon">
            <svg
              width="100%"
              height="30px"
              viewBox="0 0 5989 7293"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5988.28 1853.44C5995.38 2176.11 5885.15 2487.58 5752.99 2777.64C5344.62 3622.59 4733.61 4343.51 4176.74 5091.54C3770.26 5688.2 3366.99 6311.92 3147.59 7004.54C3143.96 7011.47 3140.31 7018.39 3136.55 7025.26C3130.66 7036.04 3125.97 7047.38 3120.55 7058.35C3119.89 7059.65 3119.24 7060.95 3118.58 7062.27C3115.87 7067.22 3113.23 7072.2 3110.69 7077.25C3110.62 7077.36 3110.58 7077.46 3110.53 7077.57C3110.45 7077.74 3110.37 7077.88 3110.28 7078.05V7078.06C3110.27 7078.11 3110.23 7078.14 3110.22 7078.19C3106.46 7085.73 3103.15 7093.31 3100.15 7101.22C3096.97 7109.64 3094.17 7118.15 3091.24 7126.65C3088.41 7134.41 3084.8 7141.86 3081.15 7149.27C3077 7157.37 3072.62 7165.25 3067.64 7172.89C3062.51 7180.31 3057.47 7187.78 3052.11 7195.04C3046.58 7202.56 3041.17 7210.21 3036.7 7218.41C3034.52 7222.41 3032.53 7226.52 3030.58 7230.63C3028.6 7234.78 3026.46 7238.82 3024.85 7243.13C3021.53 7252.02 3018.49 7261.02 3015.47 7270C3010.97 7275.62 3010.2 7283.14 3012.51 7289.62C3011.42 7289.63 3010.33 7289.67 3009.26 7289.72C3005.5 7289.91 3001.95 7290.79 2998.79 7292.58C2998.4 7292.6 2998.01 7292.61 2997.62 7292.63C2996.5 7292.69 2995.39 7292.81 2994.3 7293C2993.21 7292.81 2992.1 7292.69 2990.98 7292.63C2990.59 7292.61 2990.2 7292.6 2989.81 7292.58C2986.65 7290.79 2983.1 7289.91 2979.35 7289.72C2978.27 7289.67 2977.18 7289.63 2976.09 7289.62C2978.4 7283.14 2977.63 7275.62 2973.12 7270C2970.12 7261.02 2967.07 7252.02 2963.75 7243.13C2962.14 7238.82 2960.01 7234.78 2958.02 7230.63C2956.07 7226.52 2954.08 7222.41 2951.9 7218.41C2947.42 7210.21 2942.02 7202.56 2936.49 7195.04C2931.13 7187.78 2926.09 7180.31 2920.96 7172.89C2915.98 7165.25 2911.6 7157.37 2907.45 7149.27C2903.81 7141.86 2900.19 7134.41 2897.36 7126.65C2894.43 7118.15 2891.63 7109.64 2888.46 7101.22C2885.66 7093.83 2882.57 7086.72 2879.12 7079.66C2879.07 7079.56 2879.02 7079.46 2878.97 7079.36C2876.12 7073.58 2873.11 7067.92 2870.02 7062.27C2869.37 7060.95 2868.72 7059.65 2868.05 7058.35C2862.63 7047.38 2857.94 7036.04 2852.05 7025.26C2848.29 7018.39 2844.64 7011.47 2841.01 7004.56C2621.66 6312.08 2218.27 5688.02 1811.85 5091.55C1255.01 4343.52 643.958 3622.57 235.608 2777.64C103.45 2487.6 -6.77126 2176.09 0.324578 1853.44C14.5329 1337.17 139.516 790.757 501.366 404.003C686.308 217.841 929.604 92.8071 1182.99 29.5738C1450.16 -30.2887 1731.96 5.01141 1987.74 97.1031C2462.24 281.903 2790.36 719.661 2994.3 1171.11C3198.12 719.661 3526.41 281.87 4000.86 97.1199C4256.64 5.01152 4538.44 -30.3054 4805.61 29.5738C5059 92.7738 5302.29 217.886 5487.24 404.003C5849.1 790.82 5974.04 1337.12 5988.28 1853.44Z"
                fill="white"></path>
            </svg>
          </span>
        </button>
      </a>
    </li>
  </ul>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 90px;
    font-size: 15px;
    background-color: #faf6f1;
    z-index: 11;
  }

  .nav-list {
    display: flex;
    align-items: center;
    margin-inline: 33px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .logo-link {
    cursor: pointer;
  }

  .logo {
    width: 200px;
    height: auto;
    padding-left: 50px;
  }

  .logo-heading {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    padding-inline: 33px;
    color: #ff3b9c;
  }

  .menu-button {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

  @media (max-width: 1140px) {
    .menu-button {
      display: block;
      cursor: pointer;
      padding-inline: 30px;
    }

    .nav-list {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      background: #faf6f1;
      flex-direction: column;
      padding: 20px 0;
      margin-inline: 0 !important;
    }

    #menu-toggle:checked ~ .nav-list {
      display: flex;
    }

    .nav-list li {
      margin: 10px 0;
      text-align: center;
    }
  }

  li {
    list-style: none;
    margin-right: 20px;
  }

  a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: rgb(90, 86, 86);
    text-transform: uppercase;
  }

  .freebie-btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 138px;
    /* padding: 5px; */
    border-radius: 9999px;
    margin-left: auto;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(
      135deg,
      #ff3b9c,
      #d82094,
      #f492b8,
      #ff3b9c,
      #d82094,
      #f492b8,
      #ff3b9c
    );

    background-size: 500% 500%;
    animation: gradient-wave 50s ease-in-out infinite;
    transition:
      transform 0.9s ease,
      box-shadow 0.9s ease;
  }

  .freebie-link {
    text-decoration: none;
  }

  .heart-icon {
    font-size: 35px;
    margin-top: 5px;
  }

  @keyframes gradient-wave {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
