<style>
  header {
    display: flex;
    align-items: center;
    justify-content: end;
    position: sticky;
    top: 0;
    height: 90px;
    font-size: 16px;
    background-color: #faf6f1;
    z-index: 11;
  }

  ul {
    display: flex;
    margin-inline: 33px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    list-style: none;
    margin-right: 20px;
  }

  a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
  }
</style>

<header>
  <nav>
    <ul>
      <li>
        <a href="/#aboutCoachning">Boka coachning</a>
      </li>
      <li>
        <a href="/#aboutCoachning">Om Transformativ coachning</a>
      </li>
      <li>
        <a href="/#testimonials">Testimonials</a>
      </li>
      <li>
        <a href="/#aboutHelena">Om Helena</a>
      </li>
      <li>
        <a href="/#blog">Blogg</a>
      </li>
    </ul>
  </nav>
</header>
