<header>
  <a class="logo-link" href="/">
    <h3 class="logo-heading glow-pulse">Helena Swane by Heart</h3></a
  >
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button" for="menu-toggle" aria-label="menu button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
      width="24"
      height="24"
    >
      <path
        d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
      ></path></svg
    >
  </label>

  <ul class="nav-list">
    <li>
      <label for="menu-toggle">
        <a href="/bokasession">Boka</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/transformativcoaching">Om Transformativ coachning</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/bokasession">Kontakt</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/omhelena">Om Helena</a>
      </label>
    </li>
    <li>
      <label for="menu-toggle">
        <a href="/blogg">Blogg</a>
      </label>
    </li>
    <li>
      <button class="freebie-btn" aria-label="freebie button"
        ><a href="/tilldig" class="freebie-link"
          >Till dig<svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            fill="#FFFFFF"
            width="20"
            ><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
            <path
              d="M241 87.1l15 20.7 15-20.7C296 52.5 336.2 32 378.9 32 452.4 32 512 91.6 512 165.1l0 2.6c0 112.2-139.9 242.5-212.9 298.2-12.4 9.4-27.6 14.1-43.1 14.1s-30.8-4.6-43.1-14.1C139.9 410.2 0 279.9 0 167.7l0-2.6C0 91.6 59.6 32 133.1 32 175.8 32 216 52.5 241 87.1z"
            ></path></svg
          ></a
        >
      </button>
    </li>
  </ul>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 90px;
    font-size: 16px;
    background-color: #faf6f1;
    z-index: 11;
  }

  .nav-list {
    display: flex;
    align-items: center;
    margin-inline: 33px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .logo-link {
    cursor: pointer;
  }

  .logo {
    width: 200px;
    height: auto;
    padding-left: 50px;
  }

  .logo-heading {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    padding-inline: 33px;
    color: #d82094;
  }

  .menu-button {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

  @media (max-width: 1140px) {
    .menu-button {
      display: block;
      cursor: pointer;
      padding-inline: 30px;
    }

    .nav-list {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      background: #faf6f1;
      flex-direction: column;
      padding: 20px 0;
      margin-inline: 0 !important;
    }

    #menu-toggle:checked ~ .nav-list {
      display: flex;
    }

    .nav-list li {
      margin: 10px 0;
      text-align: center;
    }
  }

  li {
    list-style: none;
    margin-right: 20px;
  }

  a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: rgb(90, 86, 86);
    text-transform: uppercase;
  }

  .freebie-btn {
    width: 150px;
    padding: 20px;
    border-radius: 9999px;
    margin-left: auto;
    border: none;
    cursor: pointer;
    background-color: #d82094;
    margin-right: 20px;
  }

  .freebie-link {
    display: flex;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
    color: white;
  }
</style>
