---
import StarAnimation from "../animations/StarAnimation.astro";
import GlitterAnimation from "../animations/GlitterAnimation.astro";
---

<div class="glitter_wrap">
  <GlitterAnimation />
  <StarAnimation />

  <h1 class="heading">Redo för förändring?</h1>
</div>

<style>
  .glitter_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #faf6f1;
    background-size: cover;
    background-position: center bottom;
    position: relative;
    overflow: hidden;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-weight: 400;
    align-self: center;
    color: rgb(82, 79, 79);
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    padding-right: 160px;
  }
</style>
