---
import BackgroundImage from "../assets/testbackground2.webp";
import BackgroundImage2 from "../assets/h.jpg";
---

<div
  id="home"
  class="wrapper"
  style={`background-image: linear-gradient(to bottom, #faf6f1 0%, rgba(250, 246, 241, 0) 20%), url(${BackgroundImage.src});`}
>
  <!-- <div class="star-wrapper">
    <StarAnimation />
  </div> -->

  <div class="heading-wrapper">
    <h1 class="heading">Redo för förändring?</h1>
  </div>
</div>

<style>
  :root {
    --gradient: linear-gradient(
      135deg,
      #fde2e4 0%,
      #fad2e1 25%,
      #fbc4ab 50%,
      #ffb3c1 75%,
      #ffcfd2 100%
    );
  }

  #home {
    scroll-margin-top: 90px;
  }

  .wrapper {
    display: flex;
    justify-content: center;

    height: 100vh;
    width: 100%;
    background: linear-gradient(
        to bottom,
        #faf6f1 0%,
        rgba(250, 246, 241, 0) 35%
      ),
      url("/testbackground2.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
  }

  .heading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-family: "Raleway", sans-serif;
    font-size: clamp(2rem, calc(1.2rem + 4.2vw), 3.5rem);
    color: #faf6f1;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(93, 92, 92, 0.6);
    letter-spacing: 2px;
    margin: 0;
    z-index: 3;
    display: inline-block;
    max-width: 90vw;
    text-align: center;
  }

  /* 
  @media (max-width: 964px) {
    :global(.magic-wand) {
      left: 160%;
      top: -29%;
      left: 100%;
      top: 33%;
    }
  }

  @media (max-width: 756px) {
    :global(.magic-wand) {
      width: clamp(75px, calc(4vw + 60px), 120px);
      height: clamp(75px, calc(4vw + 60px), 120px);
    }
  }

  @media (max-width: 600px) {
    :global(.magic-wand) {
      width: clamp(60px, calc(3vw + 55px), 110px);
      height: clamp(60px, calc(3vw + 55px), 110px);
      left: 100%;
      top: 33%;
    }
  } */
</style>
