<section class="section-divider"></section>

<style>
  .section-divider {
    height: 250px;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        #faf6f1 0%,
        rgba(250, 246, 241, 0) 35%
      ),
      linear-gradient(to top, #faf6f1 0%, rgba(250, 246, 241, 0) 30%),
      url("../assets/test3.jpg");
    background-size: cover;
  }
</style>
