---
import GlowingBorder from "../animations/GlowingBorder.astro";
---

<section class="testimonial-section" id="testimonials">
  <div class="testimonial-wrapper section-inner">
    <h2 class="testimonial-heading">Testimonials</h2>

    <div class="testimonial-content">
      <div class="image-wrapper">
        <svg
          class="svg-img"
          viewBox="0 0 200 200"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <linearGradient
              id="blobGradient"
              x1="0%"
              y1="0%"
              x2="100%"
              y2="100%"
            >
              <stop offset="0%" stop-color="#fde2e4">
                <animate
                  attributeName="stop-color"
                  values="#fde2e4;#fad2e1;#fbc4ab;#ffcfd2;#fde2e4;#ffb3c1;#fbc4ab;#fad2e1;#fde2e4"
                  dur="35s"
                  repeatCount="indefinite"></animate>
              </stop>
              <stop offset="100%" stop-color="#ffcfd2">
                <animate
                  attributeName="stop-color"
                  values="#ffe5b4;#ffd1a4;#ffb07c;#f9a66c;#f6c77d;#ffd1a4;#ffe5b4"
                  dur="35s"
                  repeatCount="indefinite"></animate>
              </stop>
            </linearGradient>
          </defs>

          <path
            fill="url(#blobGradient)"
            d="M48.1,-71.5C62.4,-65.7,73.9,-52.4,79.9,-37.1C85.8,-21.9,86.1,-4.7,80.6,9.3C75.1,23.4,63.8,34.4,53.3,45.9C42.9,57.5,33.4,69.5,21.4,73.3C9.3,77.1,-5.4,72.7,-20.8,69C-36.2,65.3,-52.4,62.4,-59.6,52.5C-66.8,42.7,-65.1,25.9,-65.1,10.7C-65.1,-4.4,-66.9,-17.9,-62.1,-28.3C-57.3,-38.7,-45.8,-46,-34.3,-53.1C-22.9,-60.2,-11.4,-67.1,2.8,-71.4C16.9,-75.7,33.9,-77.4,48.1,-71.5Z"
            transform="translate(100 100)"></path>
        </svg>

        <img src="/testimonialimg.jpg" alt="" class="testimonial-img" />
      </div>
      <div class="glowing-border-container">
        <GlowingBorder borderSide="right">
          <section class="container">
            <div class="slider-wrapper">
              <div class="slider" aria-label="Testimonials">
                <div id="slide-1" class="testimonial" tabindex="0">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo,
                  maxime ratione minus quae consectetur vel perferendis a in, id
                  nisi dolorem laboriosam at provident voluptatum aspernatur
                  tenetur, ipsam deserunt error laborum vero pariatur iste? Unde
                  dolores repudiandae quae rem quod. Lorem ipsum dolor sit amet
                  consectetur, adipisicing elit. Quo, maxime ratione minus quae
                  consectetur vel perferendis a in, id nisi dolorem laboriosam
                  at provident voluptatum aspernatur tenetur, ipsam deserunt
                </div>
                <div id="slide-2" class="testimonial" tabindex="0">
                  "Lorem ipsum dolor sit amet consectetur adipisicing elit..."
                </div>
                <div id="slide-3" class="testimonial" tabindex="0">
                  "Lorem ipsum dolor sit amet consectetur adipisicing elit..."
                </div>
              </div>
              <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
              </div>
            </div>
          </section>
        </GlowingBorder>
      </div>
    </div>
  </div>
</section>

<style>
  .glowing-border-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @media (max-width: 700px) {
      justify-content: center;
    }
  }

  :root {
    --gradient: linear-gradient(
      135deg,
      #ffe5b4 0%,
      #ffd1a4 25%,
      #ffb07c 50%,
      #f9a66c 75%,
      #f6c77d 100%
    );
  }

  .gradient-background {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 25s infinite alternate;
  }

  @keyframes bg-animation {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }

  .section-inner {
    padding: 0;
  }

  .testimonial-section {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100vw;
    /* background: linear-gradient(
        to bottom,
        #faf6f1 0%,
        rgba(250, 246, 241, 0) 20%
      ),
      url("/pinkbackground.jpg"); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: #faf6f1;
    padding-top: 80px;
    padding-bottom: 160px;
  }

  .testimonial-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .testimonial-heading {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(90, 87, 87);
    align-self: flex-end;
    padding-right: 150px;
    padding-bottom: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    /* background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }

  .testimonial {
    width: 550px;
    height: 200px;
    border-radius: 20px;
    background-color: #faf6f1;
    color: black;
    font-family: "Raleway", sans-serif;
    margin-top: 30px;
    margin-left: 60px;
    padding-left: 10px;
    /* padding: 30px; */
    font-style: italic;
  }

  .container {
    display: flex;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .slider-wrapper {
    position: relative;
    max-width: 610px;
    height: 220px;
    margin: 0 auto;
    border-radius: 20px;
  }

  .testimonial-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-wrapper {
    position: relative;
    width: 680px;
    height: 400px;
    padding-bottom: 50px;
  }

  .svg-img {
    position: absolute;
    height: 650px;
    width: 640px;
    top: -18.5%;
    left: -49%;
  }

  .testimonial-img {
    position: absolute;
    left: -7%;
    top: 4%;
    height: 390px;
    width: 380px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
  }

  .svg-img,
  .testimonial-img {
    transition: transform 0.5s ease-in-out;
    transform-origin: center;
  }

  @media (max-width: 1300px) {
    .testimonial-content {
      width: 100vw;
    }

    .image-wrapper {
      position: relative;
      width: 540;
      height: 550;
      padding-bottom: 50px;
    }

    .svg-img {
      transform: scale(0.95);
      top: -19.5%;
      left: -34%;
    }

    .testimonial-img {
      transform: scale(0.95);
      left: 9%;
      top: 2%;
    }
  }

  @media (max-width: 1180px) {
    .svg-img {
      transform: scale(0.8);
      top: -26%;
      left: -36%;
    }

    .testimonial-img {
      transform: scale(0.8);
      left: 9%;
      top: -3%;
    }

    .testimonial-heading {
      padding-left: 2rem;
    }
  }

  @media (max-width: 1130px) {
    .testimonial-content {
      flex-direction: column;
    }

    .testimonial-heading {
      align-self: center;
      padding: 0;
    }

    .svg-img {
      top: -19%;
      left: 3%;
      height: 620px;
      width: 610px;
    }

    .testimonial-img {
      left: 28%;
      top: 3%;

      height: 370px;
      width: 360px;
    }
  }

  @media (max-width: 800px) {
    :global(.glowing-border) {
      padding-inline: 2.1rem;
    }
  }

  @media (max-width: 700px) {
    .testimonial {
      margin-top: 0;
      width: 470px;
      font-size: 1rem;
    }

    .slider {
      width: 470px;
    }

    :global(.glowing-border.right) {
      max-width: 40.3ch;
      border-radius: 0 0 0 0 !important;
    }
  }

  @media (max-width: 600px) {
    .testimonial-heading {
      align-self: center;
      font-size: 2.8rem;
      padding: 0;
    }

    .testimonial {
      width: 410px;
      height: 220px;
      font-size: 15px;
    }

    /* .container {
      padding: 0;
    } */

    .slider {
      width: 420px;
    }
  }

  @media (max-width: 500px) {
    .testimonial {
      padding-left: 0;
      font-size: 14px;

      width: 350px;
    }

    .container {
      padding-left: 0;
    }

    .slider {
      width: 350px;
    }
  }

  .slider {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .slider div {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }

  .slider-nav {
    display: flex;
    justify-content: center;
    padding-block: 20px;
    column-gap: 1rem;
    z-index: 1;
  }

  .slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(240, 194, 165);
    opacity: 0.75;
    transition: opacity ease 250ms;
  }

  .slider-nav a:hover {
    opacity: 1;
  }

  .slider-nav a:focus {
    outline: 2px solid rgb(240, 194, 165);
    outline-offset: 3px;
  }
</style>
