<section class="testimonial-section" id="testimonials">
  <div class="testimonial-wrapper section-inner">
    <h2 class="testimonial-heading">Testimonials</h2>
  </div>
</section>

<style>
  .testimonial-section {
    padding-block: 80px;
    width: 100vw;
    height: 500px;
    background: linear-gradient(
        to bottom,
        #faf6f1 0%,
        rgba(250, 246, 241, 0) 20%
      ),
      url("/pinkbackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-block: 120px;
  }

  .testimonial-wrapper {
    display: flex;
    justify-content: center;
  }

  .testimonial-heading {
    font-size: 3rem;
    font-weight: 400;
    color: #2b2929;
  }
</style>
