<section class="testimonial-section">
  <div class="section-inner">
    <h2 class="testimonial-heading"></h2>
  </div>
</section>

<style>
  .testimonial-section {
    width: 100vw;
    height: 500px;
    background: linear-gradient(
        to bottom,
        #faf6f1 0%,
        rgba(250, 246, 241, 0) 20%
      ),
      url("/pinkbackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-block: 100px;
  }
</style>
