---
import { getEntry, render } from "astro:content";
import ArchGlowingBorder from "../animations/ArchGlowingBorder.astro";
import StarAnimation from "../animations/StarAnimation.astro";
import { Image } from "astro:assets";

export async function getPage(slug: string) {
  const res = await fetch(
    `http://helenaswane-wordpress.local/wp-json/wp/v2/pages?slug=${slug}`,
  );

  const pages = await res.json();
  return pages[0];
}

const page = await getPage("transformativ-coaching");
---

<section class="transformative-coaching" id="aboutCoachning">
  <div class="tc-wrapper section-inner">
    <div class="text-wrapper">
      <div class="star-wrapper">
        <StarAnimation />
        <h2 class="tc-heading">{page.title.rendered}</h2>
      </div>
      <h3 class="tc-subheading"></h3>

      <div class="tc-text" set:html={page.content.rendered} />
      <a href="/bokasession" class="book-link"
        ><button aria-label="book a session" class="book-btn"
          >Boka session</button
        >
      </a>
    </div>

    <div class="image-wrapper">
      <ArchGlowingBorder>
        <div class="arch">
          <Image
            class="tc-img"
            src="/helenaswaneimg.png"
            alt="profile image of Helena Swane in a bright pink jacket and a big smile"
            width={400}
            height={350}
            loading="eager"
            format="webp"
          />
        </div>
      </ArchGlowingBorder>
    </div>
  </div>

  <style>
    .transformative-coaching {
      width: 100vw;
      background-color: #faf6f1;
      /* background: linear-gradient(to bottom, #faf6f1 0%, #b86b95 100%); */
      padding-top: 120px;
      padding-bottom: 30px;
    }

    .tc-wrapper {
      display: flex;
      align-items: center;
      gap: 80px;
    }

    .tc-heading {
      font-weight: 400;
      font-size: clamp(1rem, calc(0.2rem + 3.2vw), 2.5rem);
      margin: 0;
      text-transform: uppercase;
    }

    .tc-subheading {
      font-weight: 500;
      margin: 0;
      font-size: 1rem;
    }

    .tc-text {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .tc-text :global(h4) {
      font-weight: 500;
      margin: 0;
    }
    .tc-text :global(p) {
      margin: 0;
    }

    .text-wrapper {
      display: block;
      max-width: 700px;
      line-height: 1.6;
      margin-right: 70px;
    }

    .italic-text {
      font-style: italic;
    }

    .book-btn {
      display: block;
      width: 160px;
      padding: 20px;
      border-radius: 9999px;
      margin-left: auto;
      border: none;
      cursor: pointer;
      background-color: #d82094;
      color: #faf6f1;
      text-decoration: none;
    }

    .book-link {
      width: 200px;
      text-decoration: none;
      color: #faf6f1;
      font-size: 18px;
    }

    .svg-blob {
      position: absolute;
      height: 500px;
      width: 480px;
      top: 0;
      left: 0;
    }

    .image-wrapper {
      flex: 0 0 315px;
      transform: translateY(-34px);
    }

    .arch {
      width: 100%;
      height: 100%;
      border-radius: 200px 200px 0 0;
      overflow: hidden;
      background: #faf6f1;
    }

    .tc-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    /* .tc-img-wrapper > :global(.round-glowing-border) {
      width: 300px;
    } */

    .star-wrapper {
      display: flex;
      position: relative;
    }
  </style>
</section>
