---
import { getEntry, render } from "astro:content";
import ArchGlowingBorder from "../animations/ArchGlowingBorder.astro";
import StarAnimation from "../animations/StarAnimation.astro";
import { Image } from "astro:assets";

const transformativeCoaching = await getEntry(
  "transformativeCoaching",
  "index"
);
if (!transformativeCoaching) throw new Error("Could not find entry");
const { Content } = await render(transformativeCoaching);
---

<section class="transformative-coaching" id="aboutCoachning">
  <div class="tc-wrapper section-inner">
    <div class="text-wrapper">
      <div class="star-wrapper">
        <StarAnimation />
        <h2 class="tc-heading">{transformativeCoaching.data.title}</h2>
      </div>
      <h3 class="tc-subheading">{transformativeCoaching.data.subtitle}</h3>

      <div class="tc-text">
        <p>
          När du upplever att du sitter fast och vill bli fri från det som
          hindrar dig.
        </p>
        <p>
          Här blir du mjukt guidad till kontakt med ditt undermedvetna där du
          kan transformera det som längtar efter förändring.
        </p>
        <p>
          Många upplever att dessa sessioner ger djupgående förändring utan att
          behöva gräva djupt i det tunga, att processen kan kännas förvånansvärt
          lättsam och enkel.
        </p>
        <p>
          Du behöver inte bli någon som du inte är, det här är en inbjudan till
          att få komma hem till dig själv.
        </p>
      </div>
      <a href="/bokasession" class="book-link"
        ><button aria-label="book a session" class="book-btn"
          >Boka session</button
        >
      </a>
    </div>

    <div class="image-wrapper">
      <ArchGlowingBorder>
        <div class="arch">
          <Image
            class="tc-img"
            src="/helenaswaneimg.png"
            alt="profile image of Helena Swane in a bright pink jacket and a big smile"
            width={400}
            height={350}
            loading="lazy"
            format="webp"
          />
        </div>
      </ArchGlowingBorder>
    </div>
  </div>

  <style>
    .transformative-coaching {
      width: 100vw;
      background-color: #faf6f1;
      /* background: linear-gradient(to bottom, #faf6f1 0%, #b86b95 100%); */
      padding-top: 100px;
      padding-bottom: 30px;
    }

    .tc-wrapper {
      display: flex;
      align-items: center;
    }

    .tc-heading {
      font-weight: 400;
      font-size: clamp(1rem, calc(0.2rem + 3.2vw), 2.5rem);
      margin: 0;
      text-transform: uppercase;
    }

    .tc-subheading {
      font-weight: 500;
      margin: 0;
      padding-top: 10px;
      font-size: 1rem;
    }

    .tc-text {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-top: 12px;
    }

    .tc-text p {
      margin: 0;
    }

    .text-wrapper {
      display: block;
      max-width: 700px;
      line-height: 1.6;
      margin-right: 70px;
    }

    .book-btn {
      display: block;
      width: 160px;
      padding: 20px;
      border-radius: 9999px;
      margin-left: auto;
      border: none;
      cursor: pointer;
      background-color: #d82094;
      color: #faf6f1;
      text-decoration: none;
    }

    .book-link {
      width: 200px;
      text-decoration: none;
      color: #faf6f1;
      font-size: 18px;
    }

    .svg-blob {
      position: absolute;
      height: 500px;
      width: 480px;
      top: 0;
      left: 0;
    }

    .image-wrapper {
      width: 250px;
      height: 350px;
    }

    .arch {
      width: 100%;
      height: 100%;
      border-radius: 200px 200px 0 0;
      overflow: hidden;
      background: #faf6f1;
    }

    .tc-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      display: block;
    }

    /* .tc-img-wrapper > :global(.round-glowing-border) {
      width: 300px;
    } */

    .star-wrapper {
      display: flex;
      position: relative;
    }
  </style>
</section>
