---
import { getEntry, render } from "astro:content";
import RoundGlowingBorder from "../animations/RoundGlowingBorder.astro";
import StarAnimation from "../animations/StarAnimation.astro";
import { Image } from "astro:assets";

const transformativeCoaching = await getEntry(
  "transformativeCoaching",
  "index"
);
if (!transformativeCoaching) throw new Error("Could not find entry");
const { Content } = await render(transformativeCoaching);
---

<section class="transformative-coaching" id="aboutCoachning">
  <div class="tc-wrapper section-inner">
    <div class="text-wrapper">
      <div class="star-wrapper">
        <StarAnimation />
        <h2 class="tc-heading">{transformativeCoaching.data.title}</h2>
      </div>
      <h3 class="tc-subheading">{transformativeCoaching.data.subtitle}</h3>

      <Content />
      <button aria-label="book a session" class="book-btn"
        ><a href="/bokasession">Boka session</a></button
      >
    </div>

    <div class="image-wrapper">
      <Image
        class="tc-img"
        src="/3.png"
        alt="profile image of Helena Swane in a bright pink jacket and a big smile"
        width={400}
        height={350}
        format="webp"
      />
    </div>
  </div>

  <style>
    .transformative-coaching {
      width: 100vw;
      background-color: #faf6f1;
      /* background: linear-gradient(to bottom, #faf6f1 0%, #b86b95 100%); */
      padding-top: 100px;
      padding-bottom: 30px;
    }

    .tc-wrapper {
      display: flex;
      align-items: center;
    }

    .tc-heading {
      font-weight: 400;
      font-size: clamp(1rem, calc(0.2rem + 3.2vw), 2.5rem);
      margin: 0;
      text-transform: uppercase;
    }

    .tc-subheading {
      font-weight: 500;
      margin: 0;
      padding-block: 10px;
      font-size: 1.08rem;
    }

    .text-wrapper {
      display: block;
      max-width: 700px;
      line-height: 1.6;
      margin-right: 70px;
    }

    .book-btn {
      display: block;
      width: 150px;
      padding: 20px;
      border-radius: 9999px;
      margin-left: auto;
      border: none;
      cursor: pointer;
      background-color: #d82094;
      color: #faf6f1;
    }

    .book-btn a {
      text-decoration: none;
      color: #faf6f1;
    }

    .image-wrapper {
      position: relative;
      width: 500px;
      height: 500px;
    }

    .svg-blob {
      position: absolute;
      height: 500px;
      width: 480px;
      top: 0;
      left: 0;
    }

    .tc-img {
      position: absolute;
      top: 10%;
      left: 14%;
      z-index: 2;
      height: 400px;
      width: 100%;
      object-fit: contain;
    }

    /* .tc-img-wrapper > :global(.round-glowing-border) {
      width: 300px;
    } */

    .star-wrapper {
      display: flex;
      position: relative;
    }
  </style>
</section>
